 <div *ngIf="requests.length > 0" id="mainContent" class="col-lg-9">
    <table class="table">
      <thead class="thead-dark">
      <tr >
        <th *ngFor="let head of thead"> {{ head }} </th>
      </tr>
      </thead>
      <tr *ngFor="let request of requests">
        <ng-container *ngIf="username == request.requested_by && request.status == 'open'">
        <td>
          <a href="/find/{{ request.id }}"> {{ request.id }} </a>
        </td>
        <td>
          {{ request.requested_by }}
        </td>
        <td>
          {{ request.a_group }}
        </td>
        <td>
          {{ request.phone }}
        </td>
        <td>
          {{ request.site }}
        </td>
        <td>
          {{ request.request_day }}
        </td>
        <td>
          {{ request.title }}
        </td>
        <td>
          {{ request.description }}
        </td>
        <td>
          {{ request.status }}
        </td>
        </ng-container>
      </tr>
    </table>
  </div>
