<div class="container">
    <div class="row">

        <div class="col-xl-8 offset-xl-2">

            <h1>
                Create Requests
            </h1>

            <p class="lead"></p>
            <form id="contact-form" method="post" action="" role="form">

                <div class="messages"></div>

                <div class="controls">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_name">Requestor</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                                    data-error="Firstname is required." value="{{username}}" disabled>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_lastname">Site</label>
                                <select id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                    data-error="Lastname is required.">
                                    <option>Monterrey</option>
                                    <option>Aguascalientes</option>
                                    <option>Guadalajara</option>
                                    <option>Mérida</option>  
                                    <option>Ensenada</option>  
                                    <option>Corporativo</option>  
                                    <option>Ciudad de México</option>  
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_email">Group</label>
                                <select id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                    data-error="Lastname is required.">
                                    <option>Development</option>
                                    <option>QA</option>
                                    <option>ARH</option>
                                    <option>Support</option>  
                                    <option>Maintenance</option>  
                                    <option>Staff</option>  
                                    <option>Third Party Services</option>  
                                    <option>Networking</option>  
                                    <option>IT</option>  
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_phone">Phone Ext.</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_email">Date</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="* IS" required="required"
                                    data-error="Valid email is required." value="{{dat | date: 'dd/MM/yyyy'}}" disabled>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="form_phone">Priority</label>
                                <select id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                    data-error="Lastname is required.">
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="form_email">Title</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="* Description title" required="required"
                                    data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form_message">Description</label>
                        <textarea id="form_message" name="message" class="form-control" placeholder="* Description of the issue." rows="4" required="required"
                            data-error="Please, leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>

                    <input type="submit" class="btn btn-success btn-send" value="Create Request">

                </div>
            </form>
          </div>
    </div>
</div>