
<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="https://pbs.twimg.com/profile_images/1049781495420805121/cfvZid92_400x400.jpg" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" [formGroup]="control" (ngSubmit)="login()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" name="username" id="username" [formControl]="username" class="form-control" placeholder="Username" required autofocus>
      <input type="password" name="password" id="password" [formControl]="password" class="form-control" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
    </form>
    <a href="#" class="forgot-password">
      Forgot password?
    </a>
  </div>
</div>
